.navbar{
  width: 100%;
  display: flex;
  padding:20px 50px;
}

.navbar .brand img{
  width: 100px;
  height:auto;

}
.nav-list ul, .social-icons ul{
  display:flex;
  
}

li{
  list-style: none;
  padding: 20px 40px;
}

a{
  text-decoration: none;
}